body{
    margin: auto;

}

header{
    margin: auto;
    min-height: 150px;

    border: solid 2px black;

    background-image: url("https://images.pexels.com/photos/756790/pexels-photo-756790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 1205px 200px;

}

a{
    border: solid 2px black;
}

main{
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    background-color: red;
    border: solid 2px black;
}
